@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #e8e4e4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

/* HEADER/NAV */
header {
  display: flex;
  justify-content: center; }
  header .div-index a img {
    margin-top: 3rem;
    width: 13rem;
    height: 10rem;
    transition: 2s; }
  header .navbar {
    margin: 0 0.3rem 1rem;
    background-color: #080808; }
    header .navbar .container-fluid img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 3rem;
      transition: 0.5s; }
    header .navbar .container-fluid img:hover {
      transform: rotate(360deg);
      transition: 0.5s; }
    header .navbar .container-fluid a {
      color: black; }
    header .navbar .container-fluid a:hover {
      color: #c6b0f6; }
    header .navbar .container-fluid .offcanvas {
      background-color: #e8e4e4; }
      header .navbar .container-fluid .offcanvas .offcanvas-header div p {
        color: black;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-size: large; }
      header .navbar .container-fluid .offcanvas .offcanvas-body ul li a {
        color: black; }
      header .navbar .container-fluid .offcanvas .offcanvas-body ul li a:hover {
        color: #c6b0f6; }
    header .navbar .border-light {
      border: solid whitesmoke 1.1px;
      background-color: whitesmoke; }

/* BOTON-VOLVER AL INICIO */
.noti-volveralinicio-index {
  text-align: center;
  margin: 1.5rem; }
  .noti-volveralinicio-index a {
    color: black;
    background-color: #e8e4e4;
    transition: 0.2s;
    text-decoration: none; }
  .noti-volveralinicio-index a:hover {
    padding: 0.5rem;
    color: whitesmoke;
    background-color: black;
    transition: 0.2s;
    border-radius: 0.5rem; }

/* FOOTER */
footer {
  color: whitesmoke;
  margin-top: 7rem;
  background-color: black;
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  footer .footer-titulo p {
    text-align: center; }
  footer .footer-otros {
    display: flex;
    justify-content: space-evenly; }
    footer .footer-otros .footer-conocenos {
      display: none; }
      footer .footer-otros .footer-conocenos p {
        text-align: center; }
      footer .footer-otros .footer-conocenos ul li {
        list-style: none; }
        footer .footer-otros .footer-conocenos ul li a {
          text-decoration: none;
          color: whitesmoke; }
        footer .footer-otros .footer-conocenos ul li a:hover {
          color: #a9b1ed; }
    footer .footer-otros .footer-prove {
      display: none; }
      footer .footer-otros .footer-prove p {
        text-align: center; }
      footer .footer-otros .footer-prove img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 3rem;
        margin: 0.3rem;
        object-fit: cover;
        transition: 0.2s; }
      footer .footer-otros .footer-prove img:hover {
        transform: scale(1.1);
        transition: 0.2s; }

/* botones contactos */
section .wapp {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  border: solid green 1px;
  border-radius: 5rem;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  transition: 0.5s; }

section .wapp:hover {
  transition: 0.5s;
  transform: scale(1.1); }

section .instagram {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 2rem;
  border: violet solid 1px;
  border-radius: 5rem;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  transition: 0.5s; }

section .instagram:hover {
  transition: 0.5s;
  transform: scale(1.1); }

/* PORTADA */
.main-menu .roll-img {
  display: none; }

.main-menu h1 {
  color: black;
  text-align: center;
  font-size: x-large;
  margin-bottom: 0.7rem; }

.main-menu .div-img {
  text-align: center; }
  .main-menu .div-img .img-tamaño .carousel-item p {
    color: black; }
  .main-menu .div-img .img-tamaño .carousel-item a img {
    width: 15rem;
    height: 17rem;
    padding: 1.5rem;
    object-fit: cover; }

.img-venta {
  display: none; }

/* TABLET-INDEX */
@media screen and (min-width: 600px) {
  .main-menu .roll-img {
    display: none; }
  .main-menu .div-img {
    text-align: center; }
    .main-menu .div-img .img-tamaño p {
      color: black; }
    .main-menu .div-img .img-tamaño img {
      width: 23rem;
      height: 25rem;
      padding: 1.5rem;
      object-fit: cover; }
  .img-venta {
    display: none; } }

/* PC INDEX */
@media screen and (min-width: 1200px) {
  .main-menu .roll-img {
    display: block;
    display: flex;
    justify-content: center;
    gap: 0.2rem; }
    .main-menu .roll-img img {
      border-radius: 0.9rem;
      object-fit: cover;
      width: 7rem;
      height: 36rem;
      transition: 0.5s;
      opacity: 0.9; }
    .main-menu .roll-img img:hover {
      width: 25rem;
      opacity: 1.5;
      transition: 0.5s; }
  .main-menu .div-img {
    display: none; }
  .img-venta {
    display: block;
    display: flex;
    justify-content: center;
    margin-top: 3rem; }
    .img-venta .div-ventauno {
      text-align: center; }
    .img-venta .div-paleta a {
      text-decoration: none; }
    .img-venta .div-paleta p:hover {
      background-color: whitesmoke;
      color: black;
      transition: 0.7s; }
    .img-venta .div-paleta p {
      background-color: black;
      color: black;
      transition: 0.5s;
      border-radius: 0.5rem; }
    .img-venta .div-paleta img {
      width: 22rem;
      height: 23rem; }
  footer .footer-otros .footer-prove {
    display: block; }
  footer .footer-otros .footer-conocenos {
    display: block; } }

.noti-volveralinicio-indexuno {
  display: none; }

.span {
  color: red; }

/* NOTICIAS */
.menu-noticias {
  display: flex;
  flex-direction: column; }
  .menu-noticias .titulo-noticia {
    color: black;
    text-align: center;
    font-size: x-large; }
  .menu-noticias .noti-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
    color: black;
    border: solid 1px black;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: justify; }
    .menu-noticias .noti-div img {
      width: 17rem;
      height: 15rem;
      border-radius: 0.5rem;
      border: solid whitesmoke 1px; }
    .menu-noticias .noti-div .p-noticia .noticia-texto-pc {
      display: none; }

/* NOTICIAS - TABLET */
@media screen and (min-width: 600px) {
  .menu-noticias .noti-div img {
    width: 28rem;
    height: 20rem; } }

/* NOTICIAS - PC */
@media screen and (min-width: 1200px) {
  .menu-noticias .noti-div img {
    width: 45rem;
    height: 25rem; }
  .menu-noticias .noti-div .p-noticia .noticia-texto-pc {
    display: block; }
  footer .footer-otros .footer-prove {
    display: block; }
  footer .footer-otros .footer-conocenos {
    display: block; } }

/* TIENDA ONLINE */
.menu-productos {
  display: grid;
  justify-items: center;
  gap: 1.5rem; }
  .menu-productos .titulo-tienda {
    color: black;
    text-align: center;
    font-size: x-large;
    font-size: xx-large; }
  .menu-productos .card {
    height: 30rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px whitesmoke; }
    .menu-productos .card img {
      width: 100%;
      height: 15rem;
      border: solid 1px whitesmoke; }
    .menu-productos .card .card-body .boton-compra {
      display: flex;
      justify-content: center; }

/* MEDIA TIENDA TABLET */
@media screen and (min-width: 600px) {
  .menu-productos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); } }

/* MEDIA TIENDA PC */
@media screen and (min-width: 1200px) {
  .menu-productos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  footer .footer-otros .footer-prove {
    display: block; }
  footer .footer-otros .footer-conocenos {
    display: block; } }

/* TORNEOS */
.torneos .div-torneos .div-torneo-video iframe {
  border: solid black 0.5px;
  border-radius: 0.5rem;
  width: 23rem;
  height: 15rem;
  gap: 2rem; }

.torneos {
  display: grid;
  color: black;
  text-align: center; }
  .torneos .titulo-torneo {
    color: black;
    text-align: center;
    font-size: x-large; }
  .torneos .div-torneos {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
    .torneos .div-torneos .div-torneo-video p {
      color: black; }

/* MEDIA TORNEOS TABLET */
@media screen and (min-width: 600px) {
  .torneos .div-torneos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem; }
    .torneos .div-torneos .div-torneo-video iframe {
      width: 23rem;
      height: 18rem;
      margin: 0.5rem; } }

/* MEDIA TORNEOS PC */
@media screen and (min-width: 1200px) {
  .torneos .div-torneos .div-torneo-video iframe {
    width: 35rem;
    height: 24rem; }
  footer .footer-otros .footer-prove {
    display: block; }
  footer .footer-otros .footer-conocenos {
    display: block; } }

/* CONTACTO */
.contacto form .titulo-contacto {
  color: black;
  text-align: center;
  font-size: x-large; }

.contacto form .row .contacto-botones {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.3rem; }
  .contacto form .row .contacto-botones .contacto-boton {
    padding: 0.3rem;
    background-color: whitesmoke;
    color: black;
    border-radius: 1rem; }

.contacto form .row .contacto-textarea {
  display: flex;
  justify-content: center; }
