//medidas

//iconos contacto

$alto-icono: 2.5rem;
$ancho-icono: 2.5rem;

//cards

$alto-card: 30rem;
$ancho-card: 25rem;

//colores

$letra-color: black;
$letra-color-hover: white;

// paleta de colores

$color1: #cbdad5;
$color2: #f5f9ec;
$color3: #566981;