// mixin card paletas

@mixin card {
    height: $alto-card;
    width: $ancho-card;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px whitesmoke;

}

//mixin titulos 

@mixin titulo {
    color: black;
    text-align: center;
    font-size: x-large;
}