/* CONTACTO */

@import "../partials/medidas";
@import "../partials/mixin";

.contacto {

    .contacto-tel-ubi {
        display: flex;
        justify-content: center;

        div {
            margin: 1.5rem 2rem 1.5rem ;
            text-align: center;

            i {
                font-size: 3rem;   
            }
        }
    }

    .div-mapa {
        display: flex;
        justify-content: center;

        iframe {
            width: 28rem;
            height: 15rem;
            padding: 0.4rem;
        }
    }


    .contacto-section-comentarios {
        display: none;
        .contacto-p {
            display: flex;

            p {
                margin-top: 2rem;
                font-family: fantasy;
                background-color: black;
                width: 100%;
                height: 2.5rem;
                align-content: center;
                color: $letra-color-hover;
                font-size: x-large;
                text-align: center;
            }
        }

        .contacto-form {
            display: flex;
            justify-content: center;

            .contacto-textarea {
                flex-direction: column;
            }
        }
    }
}

/* Media Contacto PC */

@media screen and(min-width:1200px){
.contacto{
    .contacto-section-comentarios{
        display: block;
    }
}
}