/* CONTACTO */

@import "../partials/medidas";
@import "../partials/mixin";

.contacto {


    .div-mapa {
        display: flex;
        justify-content: center;

        iframe {
            width: 28rem;
            height: 15rem;
            padding: 0.4rem;
        }
    }

    .contacto-telefono {
        display: flex;
        justify-content: center;

        .card-contacto {
            img {
                margin: 3rem 4rem 2rem;
                width: 7rem;
                height: 7rem;
                transition: 0.3s;
            }

            img:hover {
                box-shadow: 2px 2px 5px black;
                transition: 0.2s;
            }

            ul {
                text-align: center;

                li {
                    list-style: none;
                }
            }
        }
    }
}