/* CONTACTO */

@import "../partials/medidas";
@import "../partials/mixin";

.contacto {
    form {
        .titulo-contacto {
            @include titulo
        }

        .row {
            .contacto-botones {
                display: flex;
                justify-content: center;
                gap: 1rem;
                padding: 0.3rem;

                .contacto-boton {
                    padding: 0.3rem;
                    background-color: whitesmoke;
                    color: $letra-color;
                    border-radius: 1rem;
                }
            }

            .contacto-textarea {
                display: flex;
                justify-content: center;
            }

        }
    }
}