/* NOTICIAS */
@import "../partials/medidas";
@import "../partials/mixin";

.menu-noticias {
    display: grid;

    .titulo-noticia {
        @include titulo
    }

    .section-noticias {


        .noti-div {
            display: grid;
            justify-items: center;
            margin: 1.2rem;
            gap: 1rem;
            color: $letra-color;
            border: solid 1px black;
            border-radius: 0.5rem;
            padding: 1.5rem;
            text-align: justify;

            .div-noticias-texto {
                display: flex;
                flex-direction: column;

                .noti-titulo {
                    text-align: center;
                    font-size: x-large;
                }

                .p-noticias {
                    width: 20;
                    padding: 0.5rem;
                }
            }

            iframe {
                width: 20rem;
                height: 16rem;
                border-radius: 0.5rem;
                border: solid whitesmoke 1px;
            }


        }
    }
}


/* NOTICIAS - TABLET */

@media screen and(min-width:600px) {
    .menu-noticias {
        .section-noticias {
            .noti-div {
                iframe {
                    width: 28rem;
                    height: 20rem;
                }
            }
        }

    }

    /* NOTICIAS - PC */

    @media screen and(min-width:1200px) {

        .menu-noticias {
            .section-noticias {
                .noti-div {
                    iframe {
                        width: 45rem;
                        height: 30rem;
                    }
                }
            }

        }

        footer {
            .footer-otros {
                .footer-prove {
                    display: block;
                }

                .footer-conocenos {
                    display: block;
                }
            }
        }



    }
}