/* TIENDA ONLINE */

@import "../partials/medidas";
@import "../partials/mixin";

.tienda {
    display: grid;
    justify-items: center;
    gap: 2rem;

    h1 {
        text-align: center;
    }

    .tienda-div {

        .tienda-div-card {
            background-color: rgba(250, 244, 232, 0.94);
            border: solid black 0.5px;
            border-radius: 0.5rem;

            ul {
                li {
                    margin-top: 0.5rem;
                    list-style: none;
                }
            }

            .tienda-div-img {

                img {
                    height: 15rem;
                    width: 16rem;
                    transition: 0.3s;
                }

                img:hover {
                    transform: scale(1.05);
                    transition: 0.2s;
                    border-radius: 0.5rem;
                }


            }
        }

        .form-boton {
            text-align: center;

            a {

                .div-boton {
                    border: solid 1px wheat;
                    border-radius: 0.5rem;
                    background-color: black;
                    color: $letra-color-hover;
                    padding: 0.2rem;
                    margin: 0.3rem;
                    transition: 0.2s;
                }

                .div-boton:hover {
                    transform: scale(1.05);
                    transition: 0.2s;
                }
            }
        }
    }
}



/* MEDIA TIENDA TABLET */

@media screen and(min-width:600px) {
    .tienda {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

/* MEDIA TIENDA PC */

@media screen and(min-width:1200px) {

    .tienda {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

footer {
    .footer-otros {
        .footer-prove {
            display: block;
        }

        .footer-conocenos {
            display: block;
        }
    }
}