//iconos

@import "../partials/medidas";


/* botones contactos */

header {
    nav {
        div {
            section {
                a {
                    .instagram {
                        @extend %icono
                    }

                    .instagram:hover {
                        transition: 0.5s;
                        transform: scale(1.1);
                        transform: rotate(15deg);
                    }

                    .wapp {
                       @extend %icono

                    }

                    .wapp:hover {
                        transition: 0.5s;
                        transform: scale(1.1);
                        transform: rotate(15deg);
                    }
                }


            }
        }
    }
}



.instagram:hover {
    transition: 0.5s;
    transform: scale(1.1);
    transform: rotate(15deg);
}